# Fichiers générés par Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Configuration des IDE
.vs/
.idea/
*.suo
*.user
*.userprefs
*.csproj
*.pidb
*.unityproj
*.sln
*.swp

# Fichiers Unity auto-générés
*.aps
*.apk
*.unitypackage

# Ignorer les fichiers générés par Unity dans Library
ProjetAI38/Library/

# Ignorer les fichiers de logs générés par Unity
ProjetAI38/Logs/

# Ignorer les fichiers spécifiques des compilateurs Unity Shader
*.log
